body
{
    text-align: justify;
    text-justify: inter-word;
    background-color: #232323;
    color: lightgray;
}

.card
{
    margin: 5%;
    background: #393939;
    box-shadow:  8px 8px 16px #1e1e1e,
                -8px -8px 16px #1e1e1e;
}

.collapsible 
{
    background-color: rgb(66, 66, 66);
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    border-radius: 10px;
  }
  
  .list-active, .collapsible:hover 
  {
    background-color: #555;
  }
  
  .collapsible:after 
  {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .list-active:after 
  {
    content: "\2212";
  }
  
  .courses-taken 
  {
    padding-top: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
  }